:root{

	
	--color-1: #231f1f;  
	--color-2: #f9f9f9;  


	--mainColor:#221e1e;
	--secondaryColor:rgb(80, 78, 78);

	--borderColor:#ffffff;

	--mainText:rgb(255, 255, 255);
	--secondaryText:#ffffff;

	

	--previewBg:rgba(3, 3, 3, 0.8);
	--previewShadow:#434342;
	
	
	--buttonColor:rgb(255, 255, 255);
	
	
}