* {
    max-width: 700px;
    margin: auto;
  }  

  header a{
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
  }

  header a:hover{
    text-decoration: underline;
  }
 
  #title {
    margin-left: 3%;
  }
  
  .stuff {
    display: inline-block;
    margin-top: 6px;
    margin-left: 35px;
    width: 90%;
    height: 1000px;
  }
  
  p,
  li {
    font-family: 'Cormorant Garamond';
  }
  
  .head {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 4px;
  } 
 
  
  @media only screen and (max-width: 430px) {
  
    .stuff {
      max-width: 100%;
      margin-left: 10px;
    }
  }